.photo-grid {
  max-width: 1184px;
  margin: 0 auto;
}

@media screen and (max-width: 1183px) {
  .photo-grid {
    max-width: 928px;
  }
}

@media screen and (max-width: 930px) {
  .photo-grid {
    max-width: 720px;
  }
}

@media screen and (max-width: 720px) {
  .photo-grid {
    max-width: 288px;
  }
}
