.places {
  padding-top: 92px;
  padding-bottom: 12px;
  max-width: 984px;
  margin: 0 auto;
}

@media screen and (max-width: 1024px) {
  .places {
    max-width: 928px;
  }
}

@media screen and (max-width: 930px) {
  .places {
    max-width: 720px;
    padding-top: 88px;
    padding-bottom: 16px;
  }
}

@media screen and (max-width: 720px) {
  .places {
    max-width: 320px;
    padding-top: 64px;
  }
}
