.cover__illustration {
  background-image: url(../../../images/cover-trains.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 740px;
  width: 100%;
  display: flex;
  background-position: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0 auto;
}

.cover__illustration::before {
  content: "";
  position: absolute;
  background: rgba(42, 44, 47, .3);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.cover__illustration:hover::before {
  position: absolute;
  background: rgba(42, 44, 47, .8);
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media screen and (max-width: 1024px) {
  .cover__illustration {
    min-height: 640px;
  }
}

@media screen and (max-width: 768px) {
  .cover__illustration {
    min-height: 480px;
  }
}

@media screen and (max-width: 320px) {
  .cover__illustration {
    min-height: 200px;
  }
}
