.footer {
  margin: 0 auto;
  padding: 92px 0 24px 0;
  display: flex;
  justify-content: space-between;
  max-width: 1184px;
}

@media screen and (max-width: 1183px) {
  .footer {
    max-width: 928px;
  }
}

@media screen and (max-width: 930px) {
  .footer {
    max-width: 720px;
    padding-top: 88px;
  }
}

@media screen and (max-width: 720px) {
  .footer {
    margin: 0;
    padding-top: 64px;
    padding-left: 16px;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 300px;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 320px) {
  .footer {
    max-width: 186px;
  }
}
